@model List<Article>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br/><br/>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Başlık</th>
            <th>Kategori</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Yorumlar</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.ArticleId</td>
                <td>@item.Title</td>
                <td>@item.Category.CategoryName</td>
                <td><a href="/Article/DeleteArticle/@item.ArticleId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Article/UpdateArticle/@item.ArticleId" class="btn btn-danger">Güncelle</a></td>
                <td><a href="/Article/CommentArticle/@item.ArticleId" class="btn btn-danger">Yorumlar</a></td>
            </tr>
        }
    </table>
</div>